.App {
  text-align: center;
}

.App-logo {
  height: 10vh;
  align-self: center;
}


.App-header {
  background-color: #000;
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

