html {
  font-size: 62.5%;
}

@font-face {
  font-family: 'DigimonBasic';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/DigimonBasic.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'DigimonBasic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(179, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
